.card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 450px;
  border-radius: 15px 15px 0 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
  transition: 0.2;
  transform: translateY(0%);

  &.toggle {
    transform: translateY(87%);
  }
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  span {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
  p {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}
