.card-header {
  padding: 0.6rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px 15px 0 0;
  cursor: pointer;

  .online_icon {
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0px;
    right: -4px;
    border: 1.5px solid white;
  }
}
