.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem 2.45rem;
  position: relative;
  transition: 1s;
  opacity: 1;

  &.fade {
    opacity: 0;
  }
  &.msg_card_body {
    overflow-y: auto;
  }
  .msg {
    font-size: 14px;
    text-align: left;
  }
  .msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
  }

  .user_img_msg {
    border-radius: 50%;
    border: 1.5px solid #f5f6fa;
  }
  .msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
  }
  .msg_time {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 10px;
    min-width: 150px;
    text-align: left;

    &.sender {
      right: 0;
      left: auto;
      text-align: right;
    }
  }
  .img_cont_msg {
    height: 35px;
    width: 35px;
    min-width: 35px;
  }
  .is_typing {
    text-align: right;
    color: white;
    position: absolute;
    right: 20px;
    bottom: auto;
    font-size: 15px;

    .shape {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: blinker 0.5s linear infinite;
      background-color: #dddddd;
      margin-right: 5px;
      display: inline-block;
    }
    .shape {
      animation: blinker 1s linear infinite;
    }
    .shape {
      animation: blinker 0.25s linear infinite;
    }
    .shape {
      animation: blinker 2s linear infinite;
    }

    @keyframes blinker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.img_cont {
  position: relative;
  height: 40px;
  width: 40px;
}
.user_img {
  border: 1.5px solid #f5f6fa;
  border-radius: 50%;
}

.offline {
  background-color: #c23616 !important;
}
